.THIS.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.THIS.tg td{font-family:Arial, sans-serif;padding:1px 1px;border-style:solid;border-width:1px;
    overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;
	height: 30px;font-size: 0.75rem; 
    white-space: nowrap;}
.THIS.tg th{font-family:Arial, sans-serif;font-size: 0.75rem; font-weight:bold;padding:10px 10px;border-style:solid;
    border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.THIS.tg .tg-baqh{text-align:center;vertical-align:top}
.THIS.tg .tg-yzt1{background-color:#efefef;vertical-align:top;white-space: nowrap; text-align: center;}
.THIS.tg .tg-lqy6{text-align:right;vertical-align:top}
.THIS.tg .tg-my2k{background-color:#efefef;text-align:right;vertical-align:top}
.THIS.tg .tg-yw4l{vertical-align:top;white-space: nowrap;text-align: center;}



.THIS.body {
    margin: 0px;
    background: orange;
}

.THIS .bold{
    font-weight: bold;
}

.THIS .narrow, .THIS.narrow{
    width: 10%;
}

.THIS .col1{
    color: blue;
}

.THIS .col2{
    color: black;
}

.THIS .col3{
    color: seagreen;
}

.THIS .col4{
    color: saddlebrown;
    background: lightgray;
}

.THIS.hidden, .THIS .hidden{
    display: none;
}

.THIS.inline, .THIS .inline{
    display: inline !important;
}
.THIS .fixed{
    position: fixed;
}

.THIS.floatmenu, .THIS .floatmenu{
    position: fixed;
    top: 170px;
    left: 0%;
    margin-left: 10px; 
    width: 170px;
    opacity: 0.1;
    background: lightgray;
}

/*
.THIS .floatmenu .content{
    display:none;
}

.THIS .floatmenu:hover .content{
    display:block;
}*/

.THIS .floatmenu:hover{
    opacity: 1.0;
}

.THIS .fillerdiv{
    width: 0px;
}

.THIS .clickable{
    /*
    background: repeating-linear-gradient(
        45deg,
        white,
        antiquewhite 10px,
        floralwhite 10px,
        papayawhip 20px
    );
    */
}